<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Year:</b>
  <%= @video.year %>
</p>

<p>
  <b>Length:</b>
  <%= @video.length %>
</p>

<p>
  <b>Mpaa:</b>
  <%= @video.mpaa %>
</p>

<p>
  <b>Genres:</b>
  <% @video.genres.each do |genre| %>
	  <%= link_to genre.name, :controller => "genres", :action => "show", :id => genre.id %>
  <% end %>
</p>

<p>
  <b>Actors:</b>
  <% @video.actors.each do |actor| %>
	  <%= link_to actor.name, :controller => "actors", :action => "show", :id => actor.id %>
  <% end %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<p>
  <b>File Name:</b>
  <%= @video.file_name %>
</p>

<p>
	<b>Cover Art:</b>
	<img src="/tmp/video-<%= @video.id %>.jpg" width="200px" height="200px" />
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
